
html {
	font-family: 'Segoe UI';
	}
	
header {
	text-align: center;
		}
	
header h1 {
	line-height: 70%;
	font-size: 40px;
	}
	
header p{
	line-height: 50%;
	}


div {
	display: block;
	}
ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 1em;
	-webkit-padding-start: 20px;
	}

body{
	display: block;
	margin: 8px 8px 8px 8px;
}
	
#content_wrapper {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}	
	
.section {
	margin-top: 30px;
	clear: both;
	padding-top: 30px;
	height: auto;

	}
	
.left {
    float: left;
    width: 11%;
    border-right-style: solid;
    border-right-width: 2px;
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
	
	}
.center {
	float: left;
	padding-left: 10px;
	font.size: 10px;
	}

.title {
	font-weight: bold;
	font-size: 18px;
	}
#education {
		margin-top: 24px;
		}
@media only screen and (max-width: 767px) {
    .left {
        text-align: left;
    }

    .center, .left, .right {
        float: none;
        width: 100%;
        padding-left: 0;
    }
}